:root {
  --blue: #1fa2f1;
  --blueLight: #9bd1f9;
  --buttonHoverBg: #d4edff;
  --lightHover: #dbe7f37c;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyButtonText: rgba(0, 0, 0, 0.34);
  --red: rgb(226, 34, 94);
  --redBackground: rgba(226, 34, 94, 0.1);
  --green: rgb(23, 191, 99);
  --greenBackground: rgba(23, 191, 99, 0.1);
  --danger: #bb0202;
}

* {
  transition: 200ms all ease-in-out;
  outline: none !important;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a {
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212529;
}

nav a.blue {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}

button {
  background-color: transparent;
  border: none;
  color: var(--greyButtonText);
}

.mainSectionContainer {
  padding: 0;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid rgb(230, 236, 240);
  flex-shrink: 0;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitPostButton {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}

#submitPostButton:disabled {
  background-color: var(--blueLight);
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
  position: relative;
}
.post:hover {
  background-color: var(--lightHover);
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username,
.date {
  color: var(--greyText);
}

.displayName {
  font-weight: bold;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 2px 5px;
  border-radius: 50%;
}

.header a:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;
}

.postButtonContainer button:hover {
  background-color: #d4edff;
  color: var(--blue);
}

.postBody {
  padding: 0;
}

.likeContainer {
  display: flex;
  align-items: center;
  color: var(--greyText);
}

.red .active {
  color: var(--red);
}

.green .active {
  color: var(--green);
}

.postActionContainer {
  margin: 0px 0 10px 20px;
  font-size: 13px;
  color: var(--greyText);
}
.postActionContainer .username {
  display: flex;
  align-items: center;
  gap: 6px;
}
.postActionContainer .username:hover {
  text-decoration: underline;
  color: var(--blue);
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding: var(--spacing);
}

div .modal-body {
  padding: none !important;
} /*# sourceMappingURL=main.css.map */

.replyFlag {
  color: var(--greyText);
  margin-bottom: 5px;
}
.replyFlag a {
  color: var(--blue);
}

.largFont {
  font-size: 18px;
  background: var(--lightHover);
}

.closeButton {
  text-decoration: none;
  position: absolute;
  top: 15px;
  right: 15px;
  width: fit-content;
}
.closeButton i {
  text-decoration: none;
  font-style: normal;
  padding: 5px;
}

.postContentContainer .header {
  display: flex;
}

.postContentContainer .header .date {
  flex: 1;
}

.errorMessage {
  padding: var(--spacing);
}

.coverPhotoContainer {
  height: 180px;
  background-color: var(--blue);
  position: relative;
}

.profileHeaderContainer .userImageContainer {
  width: 132px;
  height: 132px;
  margin-left: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 10px;
  transform: translateY(-60%);
}

.profileHeaderContainer .userImageContainer img {
  border: 4px solid #fff;
}

.profileHeaderContainer .profileButtonsContainer {
  text-align: right;
  padding: var(--spacing);
  min-height: 66px;
}

.profileButton,
.followButton {
  border: 1px solid var(--blue);
  color: var(--blue);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 60px;
  display: inline-block;
  margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover {
  background-color: var(--blueBackground);
}

.followButton.following {
  background-color: var(--blue);
  color: #fff;
}
.followButton.following:hover {
  background-color: var(--danger);
  border-color: var(--danger);
}
.profileHeaderContainer .userDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing);
}

.followersContainer .value {
  font-weight: bold;
  margin-right: 5px;
}

.followersContainer span:not(.value) {
  color: var(--greyText);
}

.followersContainer a {
  margin-right: 15px;
}

.followersContainer a:hover {
  border-bottom: 1px solid #000;
}

.tabsContainer {
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--greyText);
  font-weight: bold;
}

.tab.active {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.tab:hover {
  color: var(--blue);
  background-color: var(--blueBackground);
}

.noResults {
  padding: var(--spacing);
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.resultsContainer .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
}

.user .userDetailsContainer {
  flex: 1;
  padding: 0 var(--spacing);
}

.profilePictureButton {
  position: absolute;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
  display: none;
}

.userImageContainer:hover .profilePictureButton {
  display: block;
}

#imagePreview {
  width: 100%;
  display: block;
  max-width: 100%;
  margin: 10px;
}

button.coverPictureButton {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

button.coverPictureButton:hover {
  background-color: var(--lightHover);
  opacity: 1;
}

.profilePictureButton,
.coverPhotoButton {
  position: absolute;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
  display: none;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton {
  display: block;
}

.coverPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
}

.coverPhotoContainer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: cover;
}

#imagePreview,
#coverPreview {
  width: 100%;
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.confirmPinElement.active {
  color: var(--blue);
}
.postPinnedContainer .post {
  border-bottom: 5px solid var(--lightGrey);
}

.searchBarContainer {
  position: relative;
  color: var(--greyText);
  padding: 10px var(--spacing);
}

.searchBarContainer button {
  position: absolute;
  top: 0px;
  left: 24px;
  transform: translateY(61%);
}

.searchBarContainer #searchBox {
  height: 36px;
  width: 100%;
  padding: 5px 15px 5px 15px;
  border-radius: 50px;
  background-color: var(--lightGrey);
  border: none;
  color: var(--greyText);
}

.chatPageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.chatTitleBar {
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 10px;
}

.chatTitleBar label {
  margin: 0 10px 0 0;
}

#userSearchTextbox {
  border: none;
  flex: 1;
  font-weight: 200;
  min-width: 350px;
}

#createChatButton {
  border: none;
  background-color: var(--blue);
  color: #fff;
  padding: 7px 20px;
  margin: 10px auto;
  border-radius: 40px;
}

#createChatButton:disabled {
  background-color: var(--lightGrey);
  color: var(--greyText);
}

.selectedUser {
  font-weight: 300;
  background-color: #cbe5fe;
  color: #0084ff;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 5px 0 0;
  display: inline-block;
}

.selectedUser {
  cursor: pointer;
}

.resultListItem {
  padding: 7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--lightGrey);
}

.resultListItem:hover {
  background-color: #f2f2f2;
}

.resultsDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.resultsDetailsContainer .heading {
  font-weight: 500;
}

.resultsDetailsContainer .subText {
  color: var(--greyText);
  font-size: 14px;
}

.resultListItem img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.resultsImageContainer {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.groupChatImage img {
  height: 65%;
  width: 65%;
  position: absolute;
  bottom: 0;
  margin: 0;
  border: 2px solid #fff;
}

.groupChatImage img:first-of-type {
  top: 0;
  right: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatTitleBarContainer {
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  align-items: center;
  padding: var(--spacing);
}

#chatName {
  width: 100%;
  border: 1px solid transparent;
  padding: 10px 5px;
  border-radius: 10px;
}

#chatName:hover {
  border: 1px solid var(--lightGrey);
  cursor: text;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.chatContainer .footer {
  display: flex;
  padding: var(--spacing);
  flex-shrink: 0px;
}

.chatContainer .footer textarea {
  flex: 1;
  resize: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  border: none;
  padding: 8px 12px;
  height: 40px;
}

.chatContainer .footer button {
  background-color: transparent;
  color: var(--blue);
  font-size: 24px;
}

.chatContainer .footer button :hover {
  color: var(--blueLight);
}

.chatMessages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--spacing);
}

.chatTitleBarContainer .inputError {
  border-color: var(--danger) !important;
}

.chatMessages .message {
  padding-bottom: 2px;
  list-style: none;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  -webkit-flex: 0;
}

.chatMessages .message .messageBody {
  background-color: #f1f0f0;
  padding: 6px 12px;
  border-radius: 18px;
  font-size: 14px;
}

.chatMessages .message .messageContainer {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.chatMessages .message.mine .messageContainer {
  align-items: flex-end;
}

.chatMessages .message.theirs .messageContainer {
  align-items: flex-start;
}

.chatMessages .message.mine {
  flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
  background-color: var(--blue);
  color: #fff;
}

.chatMessages .message.mine.first .messageBody {
  border-bottom-right-radius: 2px;
}

.chatMessages .message.mine:not(.first):not(.last) .messageBody {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.chatMessages .message.mine.last .messageBody {
  border-bottom-right-radius: 18px;
}

.chatMessages .message.mine.last:not(.first) .messageBody {
  border-top-right-radius: 2px;
}

.chatMessages .message.theirs.first .messageBody {
  border-bottom-left-radius: 2px;
}

.chatMessages .message.theirs:not(.first):not(.last) .messageBody {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.chatMessages .message.theirs.last .messageBody {
  border-bottom-left-radius: 18px;
}

.chatMessages .message.theirs.last:not(.first) .messageBody {
  border-top-left-radius: 2px;
}
