mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's happening?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post



mixin createReplyModel(userLoggedIn)
    #replyModel.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body.py-0
                    .postContainerModel
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="User's profile picture")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="Tweet your reply")
                .modal-footer
                    button#submitReplyButton.btn.btn-primary(type='button',disabled="") Reply



mixin deletePostModel(userLoggedIn)
    #deleteModel.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close.deleteModelClose(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body.py-3  
                       h1.py-3 Delete Tweet?
                       p This can’t be undone and it will be removed from your profile, the timeline of any accounts that follow you, and from Twitter search results. 
                .modal-footer
                    button#submitDeleteButton.btn.btn-danger(type='button') Delete
