extends layouts/login-layout.pug

block content   

    #main.d-flex.justify-content-center.align-items-center.m-5
        h1.mr-3.pr-3.align-top.border-right.inline-block.align-content-center.text-light.align-items-center 404
        .inline-block.align-middle
            h2#desc.font-weight-normal.lead.text-light.d-flex.align-items-center The page you requested was not found 
                a(href="/").m-2.btn.btn-outline-secondary Home
