extends layouts/main-layout.pug

block content
    +createPostForm(userLoggedIn)
    .postContainer
    +createReplyModel(userLoggedIn)
    +deletePostModel(userLoggedIn)
    

block scripts   
    script(src="/js/home.js") 